# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.idea

# Environment variables
.env

*.DS_Store
.mypy_cache/

# Unit test / coverage reports
.coverage
.cache

# Django stuff:
*.log
*.pot
# Sphinx docum
/database/*
/training/*
visual/result/*

# links
*.lnk